	body {
		font-family: 'Pretendard-Regular';
	}
	.mcontainer {
		width:80%;
		margin:0 auto;
		margin-top: 200px;
	}
	.card {
		display:none;
	}
	.search-bar {
	    margin: 0 auto;
	    width: 70vw; 
	}
	#keyword {
		width:50%;
		margin-bottom:30px;
		border:none;
		border-bottom: 1px solid lightgray;
	}
	.search-bar {
		text-align:center;	
	}
	#mTable {
		widht:100%;
		margin:0 auto;
		border:1px solid lightgray;
	}
	#mTable td {
		text-align:center;
		border:1px solid lightgray;
	}
	#mountain form {
		width: 70vw;
		margin: 0 auto;  
	}
	#mountaintd {
		height: 80px;
	}
	#mountain button {
		border: none;
		border-radius: 5px;
		background-color: white;
	}
	#mountain button:hover {
		text-decoration: underline;
	}