
.footer {
	position:absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #212121;
    color: white;
    text-align: center;
    z-index:10;
}
.footer_img {
    margin-right: 50px;
}
.footer_text {
    margin-right: 400px;
}
.footer_text1 {
    width: 700px;
    margin-top: 20px;
    text-align: left;
}
.footer_text1 span {
    font-size: 14px;
    color: #aeaeae;
}
.footer_text2 {
    width: 700px;
    margin-top: 20px;
    text-align: left;
}
.footer_text2 span {
    font-size: 14px;
    color: #aeaeae;
}
.footer_text3 {
    width: 700px;
    margin-top: 20px;
    text-align: left;
}
.footer_sns {
    background-color: #212121;
}
.footer_sns a{
    color: #aeaeae;
    font-size: 30px;
}
.footer_sns i {
    font-size: 30px;
    color: #aeaeae;
    margin: 10px;
}
.footer_sns i:hover {
    color: white;
}

