	body {
		font-family: 'Pretendard-Regular';
	}
	.commentAll {
		margin-top: 50px;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 12px;
	}
	a {
		text-decoration:none;
	}
	h2 {
		font-size: 20px;
	}
	#comment {
		width:88%;
		height: 20px;
		border-bottom: 1px solid lightgray;
	}
	ul {
		list-style : none;
	}
	#commentList {
		text-align: left;
		width: 100%;
		color: black;
	}
	.clist {
		padding-left: 0px;
	}
	.clist li{
		border-bottom: 1px solid lightgray;
		padding:10px;
	}
	.commenter {
		color:black;
		font-weight: bold;
	}
	.comment {
		color:black;
		font-weight: lighter;
		text-align: justify;
	}
	#comment:focus{
		outline:none;
	}
	.delBtn, .modBtnb, #modBtn {
		float:right;
	}
	#sendBtn{
		margin-left:10px;
	}
	.regdate{
		font-size:5px;
		color:#999;
	}
	.reply {
		display: inline-block;
		margin-top:10px;
		margin-left:10px;
		font-size:5px;
		color:#999;
	} 
	.postDate {
		margin-top:10px;
		font-size:10px;
		color:#999;
	}
	.mod {
	    width: 100%;
	    margin-top: 35px;
	    display: flex;
	    justify-content: center;
	}
	.mod button {
	    width: 40px;
		margin-top:0;
	    font-size: 10px;
    	padding: 2px;
	}
	.modDiv1 {
		width:80%;
	}
	.form-control {
		width:95%;
		margin-right:20px;
		height: 20px;
		border: 1px solid black;
	}
	.coSend {
		margin-top: 40px;
	}