body {
	font-family: 'Pretendard-Regular';
}
h2{
	padding-left:80px;
}
h2 img{
	width:5%;
}

table {
    background-color: white;
    text-align: center;
    width:1000px;
    margin:0 auto;
    border-collapse : collapse;
}
select{
	height: 40px;
	border: 0.5px solid lightgray;
	outline: none;
}
.topTable{
	text-align:right;
	height:100px;
}
span {
    color: black;
}
.i-con {
    color:darkgray;
}
.i-con:hover{
	color:black;
}
#textSearch{
	display: inline-block;
    /* border: 2px solid gray; */
    border-radius: 10px;
}
.search {
    display: flex;
    justify-content: end;
    align-items: center;
}
.page_btn {
    width: 65px;
    border: 0.5px solid lightgray;
    border-left: none;
    margin-left: -7px;
    background-color: lightgray;
    color: white;
    height: 40px;
    cursor: pointer;
}
#search {
    width: 199px;
    /* margin-left: 10px; */
    border: 0.5px solid lightgray;
    color: black;
    outline: none;
    height: 36px;
    font-size: 11px;
}
.page_handler {
	width: 90%;
	height:80px;
	background-color: #f9f9f9;
	margin: 0 auto;
	text-align: center;
}

.bottomTable{
	text-align:right;
	height:50px;
}
.write-btn {
    text-align: right; 
}

table a{
	color:black;
	text-decoration: none;
}
.link:hover {
	font-weight:bold;
	color: black;
}
.one{
	background-color:lightgray;
}
.bttn{
	border:2px solid darkgray;
	border-radius:10px;
	background:none;
	cursor:pointer;
}
.bttn:hover {
	background-color:black;
	border-color:black;
	color:white;
}
.bttn:hover #goWrite{
	color:white;
}
.bttn:hover #goWrite i{
	color:white;
}
#goWrite{
	color:black;
}
#goWrite i{
	color:black;
}
.check {
	color:red;
}

.subMenu {
	background-color:white;
	width:100px;
	height:60px;
	position: absolute;
	z-index: 1;
	top:31px;
	box-shadow: 2px 2px 2px 2px gray;
	display: none;
}
.subMenu ul {
	margin:0;
	padding:0;
}
.subMenu li {
	padding:5px;
	text-align:center;
}
.subMenu li:hover {
	background-color: lightgray;
}
.son {
	display: block;
}

