	#Location {
		margin: 0 auto;
		padding: 20px;
	}
	.tab {
	  overflow: hidden;
	  border-bottom: 1px solid lightgray;
	}
	
	.tab button {
	  background-color: inherit;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	  font-size: 17px;
	}
	
	/* Change background color of buttons on hover */
	.tab button:hover {
	  background-color: #ddd;
	}
	
	/* Create an active/current tablink class */
	.tab button.active {
	  background-color: #ccc;
	}
	
	/* Style the tab content */
	.tabcontent {
	  display: none;
	  padding: 6px 12px;
	  -webkit-animation: fadeEffect 1s;
	  animation: fadeEffect 1s;
	}
	
	/* Fade in tabs */
	@-webkit-keyframes fadeEffect {
	  from {opacity: 0;}
	  to {opacity: 1;}
	}
	
	@keyframes fadeEffect {
	  from {opacity: 0;}
	  to {opacity: 1;}
	}
	#myLocationBtn {
		font-size:5px;
	}
	#mname {
		margin-left:20px;
		width:20%;
		border:none;
		border-bottom:1px solid lightgray;
	}
   	.myButton {
   		padding: 5px;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
		background-color:#ededed;
		border-radius:6px;
		border:1px solid #dcdcdc;
		display:inline-block;
		cursor:pointer;
		color:#777777;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
	}
	.myButton:hover {
		background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
		background-color:#dfdfdf;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}