* {
  box-sizing:border-box
}
body {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.slideshow-container {
width: 100%;
height: 1260px;
position: relative;

}

#wrapper{
 
  width: 100%;
}




.mySlides {
display: none;
}
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
.quick-menu {
  display: none;
  align-items: center;
  flex-direction: column;
  position:absolute;
  background-color: #1e3932;;
  width:80px;
  height: 320px;
  right: 50px;
  border-radius: 10px;
  z-index: 10;
  
  
}
.quick-box {
  text-align: center;
}

.quick-box i{
text-align: center;
color: white;
font-size: 30px;
}
.quick-box i:hover {
color: #0CD1E4;
transition: all 1s;
}
.quick-box a {
text-align: center;
text-decoration: none;
color: white;
font-size: 20px;
margin:0
}
.quick-box a:hover {
text-decoration: underline;
color: white;
}
.quick-box {
margin-top: 40px;
}


.quick-btn {
  position: absolute;
  padding: 10px;
  right: -20px;
  top: 150px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 10;
  
  
}
.quick-btn i {
  font-size: 35px;
}



.scroll-img {
width: 100%;
height: 1200px;
position: relative;
}

.image1 {
  background: url(https://images.unsplash.com/photo-1486037242572-f25faf7505e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) no-repeat;
  background-size: cover;
background-attachment: fixed;
}
.image1-box {
position: absolute;
width: 500px;
top: 500px;
left: 300px;
}
.image1-box-btn {
padding: 20px;
background-color: rgba(0, 0, 0, 0.5);
border:none;
color: white;
font-size: 24px;
}
.image1-box-btn a {
	text-decoration: none;
	color: white;
}
.image1-box-btn:hover {
background-color: #0CD1E4;
transition: all 1s;
}

.image2 {
  background: url(https://images.unsplash.com/photo-1611154046036-cd91e50978be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) no-repeat;
  background-size: cover;
background-attachment: fixed;
}
.image2-box {
position: absolute;
text-align: right;
width: 500px;
top: 580px;
right: 250px;
}


.text {
width: 100%;
height: 850px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: #fff;
background: #1e3932;
font-size: 1.1rem;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");





.popula_container {
  position: relative;
  width: 100%;
  margin: 10px;
  max-width: 500px;
}

.popula_image {
  display: block;
  width: 100%;
  height: 600px;

}

.popula_overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  
}

.popula_container:hover .popula_overlay {
  opacity: 1;
}
.popula_box {
	display: flex;
	flex-wrap: wrap;  
    justify-content: center;
	margin: 0 auto;
	width: 100%;
}

