table {
	width: 100%;
	margin: 0 auto;
}
table .i-con {
	margin: 0;
	color:black;
	font-size:12px;
}
table a {
	text-decoration: none;
    color: black;
}
table a:hover {
    color: red;
}
table button {
	height: 35px;
	width: 120px;
}
tr, th, td {
	text-align: center;
}
th, td {
	padding: 5px;
}
th {
	border-bottom: 1px solid lightgray;
}
#listDiv {
	margin-top: 100px;
	font-family: 'Noto Sans KR', sans-serif;
	width:80%;
	margin: 0 auto;
	margin-top: 60px;
}
.i-con {
    margin-right: 5px;
}
.search {
    display: flex;
    justify-content: end;
    align-items: center;
}
.btn {
    background-color: black;
    color: black;
    margin-left: 10px;
}

.btn:hover {
    background-color: darkgray;
}
#search {
    width: 350px;
    margin-left: 10px;
    border: none;
}
.tableBar {
    text-align: right; 
    background-color: darkgray;
}
.check {
	display: inline-block;
	padding:1px;
	text-align:center;
	border-radius:2px;
	color:red;
}
.myButton {
 	padding: 5px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}