@charset "UTF-8";
body {
    font-family: "Century Gothic", "Lato", sans-serif;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
  
span>a{
	text-decoration-line: none;
	color:black;
}
 
   h1 {
   
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
    text-align: center;
  }
  h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
    text-align: center;
  }
  
  img, #userImg{
    width: 260px;
    height: 440px;
  }
  .main{
  display: flex;
  margin-left: 500px;
 
  }
  .main1{
  display: flex;
  margin :60px auto;
  width: 1000px;
  justify-content: center;
  }
  
  #info li{
    list-style:none;
    padding: 7px 0px 5px 5px;
    margin-bottom: 13px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}
  

  .data-container {
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #bt1{
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: -8px 115px 5px -35px;
	
	text-decoration: none;
	border-radius: 14px;
	padding: 14px 23px;
}

a.button1 {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.button1:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

a.button2 {
	color: red;
	box-shadow:   rgba(236, 175, 175, 0.816) 0 0px 0px 2px inset;
}

a.button2:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(236, 175, 175, 0.816) 0 80px 0px 2px inset;
}
  
  
  
  
  
  .mypage{
   margin-top:30px;
  }
  
 
  
  
  body {
  font-family: "Raleway", sans-serif;
}



.tabs {
  display: flex;
  flex-direction: column;
   list-style: none;
  
}
@media screen and (min-width: 900px) {
  .tabs {
    display: block;
  }
}

.accordion-tabs-minimal {
  width: 70%;
  margin: 7rem auto;
}
.tab-header-and-content{
	  list-style: none;
}

li.tab-header-and-content {
  list-style: none;
  border-bottom: 1px solid gainsboro;
}
@media screen and (min-width: 900px) {
  li.tab-header-and-content {
    display: inline;
  }
}

a.tab-link {
  background-color: #fff;
  color: #333;
  display: block;
  padding: 25px;
  text-decoration: none;
  font-size: 20px;
}
@media screen and (min-width: 900px) {
  a.tab-link {
    border-top: 0;
    display: inline-block;
    font-size: 16px;
  }
}
a.tab-link:hover {
  color: #477DCA;
}
a.tab-link:focus {
  outline: none;
}
a.tab-link.is-active {
  border-bottom: 0;
}
@media screen and (min-width: 900px) {
  a.tab-link.is-active {
    border: 1px solid gainsboro;
    border-bottom-color: white;
    margin-bottom: -1px;
  }
}

.tab-content {
  display: none;
  padding-left: 30px;
  width: 100%;
}
@media screen and (min-width: 900px) {
  .tab-content {
    border-top: 1px solid gainsboro;
    float: left;
    padding-top: 1rem;
  }
}
  

.box-wrap{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:10%;
}
.boox{
  height: 422px;
  padding:30px;
  margin:5%;
  background:white;
  width:30%;
  border:1px solid #d6d6d6;
  box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
  border-radius:3px;
  transition:.2s all; 
  overflow: auto;
}
.box-wrap:hover .boox{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}
.box-wrap:hover .boox:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}
.boox li{
	
    list-style:none;
    padding: 7px 0px 5px 5px;
    margin-bottom: 13px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}
  
.boox p{
	font-size: 14px;
}

.danger{
	color: white;
    background-color: red;
    border: 2px solid gray;
    text-align: center;
    height: 49px;
    width: 101px;
    border-radius: 14px;
    margin-bottom: 13px;
	
}
@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.rm {
	font-family:'TTWanjudaedunsancheB';
	font-size:15px;
	font-weight:bold;
}
.flag {
	width:20px;
	height:20px;
}
.Patch {
	width:80px;
	height:80px;
}
#ttt div {
	float:left;
}
div.rm{
	width:80px;
	height:80px;
	position:relative;
}
span.rm{
	position: absolute;
    bottom: 31px;
    left: 24px;
    color: white;
    font-size: 13px
}
#patchbox{
	display: flex;
}