body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


ul {
    list-style: none;
}

.navi {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.navi_menu {
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-right: 90px; 
}

.navi_menu li {
    margin: 0 20px;
}
.navi_menu li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-right: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.navi_menu a:hover {
    color: #0CD1E4;
    transition: all 0.5s;
    
}



.navi_login {
    display: flex;
    align-items: center;
}
.navi_login a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-right: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.navi_login a:hover {
    color: #0CD1E4;
    transition: all 0.5s;
}   
.master_menu {
    position: fixed;
    display: none;
    top: 70px;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 60px;
    z-index: 10;
}
.master_menu a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-right: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.master_menu a:hover{
    color: #0CD1E4;
    transition: all 0.5s;
}


.quick-menu {
	display: block;
    align-items: center;
    flex-direction: column;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width:60px;
    height: 400px;
    right: -65px;
   	border-radius: 10px;
    z-index: 10;
    transition: 0.5s;

 }
 .quick-btn-box{
	position: absolute;
    left: -25px;
    top: 150px;
    border: none;
    
    z-index: 10;
    height: 80px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  
}
.q-box-btn {
	height: 80px;
	border: none;
	background-color: rgba(0,0,0,0.4);
	border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

  .quick-box {
    text-align: center;
  }
  .quick-text {
  	position: absolute;
  	top:0;
  	width: 60px;
  	height: 25px;
  	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  	background-color: rgba(0,0,0,0.5);
  
  	margin: 0 auto;
  	text-align: center;
  }
  .quick-box i{
  text-align: center;
  color: white;
  font-size: 30px;
  }

  .quick-box i {

  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;

  }

  .quick-box {
  margin-top: 40px;
  }
  
  
/*   .quick-btn { */
/*     position: absolute; */
/*     padding: 10px; */
/*     top: 150px; */
/*    	right: 0px; */
/*     border: none; */
/*     cursor: pointer; */
/*     background-color: rgba(0, 0, 0, 0.1); */
/*  	width:60px; */
/*     z-index: 10; */
/*     transition: 0.5s; */
/*     border-radius: 10px; */
    
/*   } */
  .quick-btn i {
    font-size: 35px;
  }






  

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius:10px;
    width: 50%; 
    /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn {
	width: 55px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover {
    background-color: #0CD1E4;
    transition: all 1s;
}

.menuTitle {
	text-align: center;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size:50px;
	opacity: 0.8;
	text-shadow: 2px 2px 2px gray;
}

