
.weather {
    width: 350px;
    height: 70px;
   
 
}
.pty img {
	width:25px;
}
.list span {
	line-height: 70px;
	font-size: 18px;
	color: white;
	word-spacing:10px;
	font-family: 'Oswald', sans-serif;
}
