    .wbox{
		margin-top:50px;
    }
	.date{
    	text-align:center;
    	line-height:62px;
    	font-size:15px;
    	font-weight:bold;
    	margin:0;
    }
   	#wtop span {
		text-align: center;
		margin-right:10px;
		line-height:60px;
	}
	#wtop span:last-child {
		margin-right:0;
	}
    #wtop {
    	width:95%;
    	padding:10px;
    	border-bottom:1px solid lightgray;
    	border-radius:5px;
    	box-shadow: 1px 1px 1px 1px gray;
    	margin:5px;
    	text-align:center;
    }
    #wtop .bweather {
    	display:flex;
    	justify-content: center;
    }
    .wtopdiv {
    	margin-right:20px;
    }
    .wtopdiv #mintmpp0, .wtopdiv #maxtmpp0 {
    	font-size:25px;
    	line-height:60px;
    }
    
    .bpty{
    	width:20px;
    }
    .bweather img{
		width:50px;
		height:50px;
		margin:0;
		vertical-align:middle;
    }
    .btmp{
    	width:35px;
    	font-size:15px;
    	font-weight:bold;
    	text-align: center;
    }
    .sky{
    	margin-right:10px;
    	width:50px;
    	font-size:5px;
    	text-align: center;
    }
    .npopp {
    	font-size:10px;
    }
	
	
	#wbottom {
		width:95%;
    	padding:10px;
    	margin:5px;
		text-align:center;
	}
	#wbottom span {
		margin-right:30px;
	}
	#wbottom .date {
		margin-right:80px;
	}
	#wbottom .npopp {
		margin-right:80px;
	}
	#wbottom img{
		width:20px;
		height:20px;
		margin:0;
		vertical-align:middle;
	}
	#wbottom ul {
		list-style:none;
		display: inline-block;
		padding-left:0; margin-left:0;
	}
	#wbottom li:last-child {
		border:none;
	}
	#wbottom li {
		width:100%;
		height:50px;
		line-height:30px;
		text-align:center;
		border-bottom:1px solid lightgray;
	}
    