    .wbox{
		margin-top:50px;
    }
	.date{
    	text-align:center;
    	line-height:62px;
    	font-size:13px;
    	margin:0;
    	width:20px;
    }
    #left{
    	margin-right:10px;
    }
   	#wtop {
		width:100%;
		display:flex;
		justify-content: center;
		margin-bottom:50px;
	}
   	#wtop span {
		text-align: center;
	}
   	#wtop > div:first-child {
		margin-left:80px;
	}
    #wtop .bweather{
    	width:310px;
    	height:60px;
    	display:flex;
    	justify-content:space-around;
    	border:1px solid lightgray;
    	border-radius:5px;
    	box-shadow: 2px 2px 2px 2px gray;
    	margin:5px;
    }
    #wtop .bbottom{
    	display:flex;
    	justify-content:center;
    	width:250px;
    	line-height:62px;
    }
    .bpty{
    	width:20px;
    }
    .bpty img{
		width:20px;
		height:20px;
		vertical-align:middle;
		margin:0;
    }
    .btmp{
    	width:35px;
    	font-size:15px;
    	font-weight:bold;
    	text-align: center;
    }
    .sky{
    	margin-right:10px;
    	width:50px;
    	font-size:5px;
    	text-align: center;
    }
    .npopp {
    	font-size:10px;
    }
    
    #wtop .bpop{
    	display:flex;
    	justify-content:center;
    	width:60px;
    	font-size:14px;
    }
    #wtop .bpop img{
    	width:25px;
    	height:25px;
    	margin:22px 5px 0 0;
    }
	#wtop .bweather {
		float:left; 
	}
	#wtop::after {
		content: '';
		display: block;
		clear: both;
	}
	
	#wbottom {
		text-align:center;
	}
	#wbottom img{
		width:20px;
		height:20px;
		margin:0;
		vertical-align:middle;
	}
	#wbottom .bpop {
		display: inline-block;
	}
	#wbottom ul {
		list-style:none;
		width:120px;
		display: inline-block;
		border-right:1px solid lightgray;
		padding-left:0; margin-left:0;
	}
	#wbottom ul:last-child {
		border:none;
	}
	#wbottom li {
		width:100%;
		height:30px;
		line-height:30px;
		text-align:center;
	}
    