@charset "UTF-8";
@charset "UTF-8";
body {
    font-family: "Century Gothic", "Lato", sans-serif;
  }
 .mypage{
     padding-top:60px;        
  
  }
span>a{
	text-decoration-line: none;
	color:black;
}
 
   h1 {
   
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
    text-align: center;
  }
  h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
    text-align: center;
  }
  
 #userImg img {
    width: 260px;
    height: 440px;
  }
  .main{
  display: flex;
  margin-left: 500px;
 
  }
  .main1{
  display: flex;
  margin :60px auto;
  width: 1000px;
  justify-content: center;
  }
  button{
    width:84px;
    height:45px;
    margin: 20px;
  }
  li{list-style:none;
    padding: 7px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}
  

  
 
  
  .data-container {
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mypage{
   margin-top:30px;
  }
  .box-wrap{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:10%;
}
.boxx{
  padding:30px;
  margin:-3%;
  background:white;
  width:50%;
  border:1px solid #d6d6d6;
  box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
  border-radius:3px;
  height: 20%;
  overflow-y: scroll;
} 


/* 아래의 모든 코드는 영역::코드로 사용 */
.boxx::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.boxx::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #d6d6d6; /* 스크롤바의 색상 */
    border-radius: 10px;
    
}




